django==5.2.1
djangorestframework==3.16.0
django-daisy==1.0.23
django-filter==25.1
django-countries==7.6.1
django-money==3.5.4
typing-extensions==4.12.2
adrf==0.1.9
httpx==0.28.1
async-property==0.2.2
asgiref==3.8.1
sqlparse==0.5.3
markdown==3.7
drf-spectacular==0.28.0
djangorestframework_simplejwt==5.5.0
cffi==1.17.1
cryptography==44.0.2
pycparser==2.22
babel==2.17.0
py-moneyed==3.0
setuptools==80.7.1
django-ckeditor-5==0.2.18